@charset "utf-8";
@import url(./common.css);


body{width: 100%; margin: 0 auto;}

/* 메인 이미지 */
.visual{width: 100%;}
.visual>p>img{ 
    width: 100%;
    vertical-align: middle; /* 이거 안하면 빈틈생김 */
 }

/* 컨텐츠 1 */

article{width: 100%;}
.content-1{
   /*  width: 100%; */
   
    padding-bottom: 150px;
    background-color: #d1ceb3;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 80px;
   
}
.content-1>div{margin: auto 100px ; }
.content-1 >div>h3{ 
    white-space: pre-line;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    
}
.content-1 >div>h3 >b{
    font-weight: 700;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.content-1>div>p{ 
    padding-top: 30px;
    white-space: pre-line;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    font-size: 16px;
   
}



/* 이미지 박스 [이미지 겹치기] */
.content-1 .imgbox{}
.content-1 .imgbox >div{ 
    width: 333px;
    height: 333px;
    right: 25%;
    top: 10%;
    bottom: 0;
}
.content-1 .imgbox >div:nth-child(1){position: absolute;}
.content-1 .imgbox >div:nth-child(2){position: absolute;}
.content-1 .imgbox >div:nth-child(3){position: absolute;}
.content-1 .imgbox >div:nth-child(4){position: absolute;}
.content-1 .imgbox >div:nth-child(5){position: absolute;}


.content-1 .imgbox >div>img{ 
    padding-right: 30px;
    width: 100%;
}





/* 컨텐츠 2 */

.content-2{
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}
.content-2>div{}
.content-2>div>h3{
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-align: left;
}
   

.content-2>div>p{
    white-space: pre-line;  
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
}



 /* article 1 */
section{}
section .article-1{ width: 1100px;  margin: 0 auto;}
section .article-1 > ul{
    border-top: 1px solid #000;
   
    
}
section .article-1 > ul >li{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .article-1 > ul > li > figure{  width: 40%; }
section .article-1 > ul > li > figure > img{
   
    vertical-align: middle;
    width: 100%;
    
}


section .article-1 > ul > li > div:nth-child(1){ 
    width: 60%; 
    text-align: left; 
    
    
}


section .article-1 > ul > li > div > b{
    font-weight: 700; font-size: 13px ; color: rgb(0, 0, 0); }
section .article-1 > ul > li > div > span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px ; 
    line-height: 1.2;
   
}
section .article-1 > ul > li > div > p{
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: pre-line;
    line-height: 2;
}

.article-1 > ul > li:nth-child(1)> figure{ order: 2 ;}
.article-1 > ul > li:nth-child(1)> figure{ order: 1 ;}

/* article-2 */
.article-2{
    width: 1100px; height: 814px; margin: 100px auto;
    border-top:1px solid #000 ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 

  
}
.text-box{
    width: 50%;
    
}
.text-box>b{font-weight: 700; font-size: 13px ; color: rgb(0, 0, 0); }
.text-box>span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px ; 
    line-height: 1.2;
}
.text-box>p{
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: pre-line;
    padding-top: 30px;
    line-height: 2;
}



.article-2>div{
  padding-top: 80px;
}
.article-2>div:nth-child(1){}
.article-2>div:nth-child(2){
    width: 100%;
    text-align: right;
  
}

.article-2>div>p{}
.article-2>div>p>img{

  vertical-align: middle;
  text-align: right;
  
}

.article-2>div>p:nth-child(1)>img{
    width: 458px;
}
.article-2>div>p:nth-child(2)>img{
    width: 30%;
   
}

/* article-3 */

.article-3{
    width: 1100px; height: 814px; margin: 100px auto;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #000 ;
}
.article-3>div{margin-top: 100px;}
.article-3>div>b{
    font-weight: 700; font-size: 13px ; color: rgb(0, 0, 0); 
}
.article-3>div>span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px ; 
    line-height: 1.2;
}
.article-3>div>p{
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: pre-line;
    padding-top: 30px;
    line-height: 2;
}

.image-box.mySwiper{
    width: 367px;
    height: 483px;
    overflow: hidden;
}
.swiper-wrapper{

    display: flex;

}
.swiper-slide>img:nth-child(1){
    display: block;
    width: 100%;
    vertical-align: middle;
 
}
.swiper-slide>img:nth-child(2){
    display: block;
    width: 100%;
    vertical-align: middle;
 
}
.swiper-pagination{

}




/* content-3 */
.content-3{
    width: 100%;
    margin: 0 auto;
    background-color: #fff3a9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-3>div{white-space: pre-line;}
.content-3>div>span{
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(0, 137, 77);
}
.content-3>div>p>strong{
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 16px;
    text-decoration: underline;
    color: rgb(0, 137, 77);
  
}
.content-3>div>p{
    color: rgb(0, 137, 77);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 16px;
    line-height: 2;
  
}
.content-3>div>p>img{
    width: 100%;
    padding: 30px;
    vertical-align: middle;

}
.content-3>div:nth-child(2)>p{
    width: 550px; height: 753px;
}
.content-3-text {background-color: #fff3a9;}
.content-3-text >p{
    color: rgb(0, 137, 77);
    font-size: 26px;
    text-align: center;
    padding-bottom: 150px;
    font-weight: bold;
}

/* content-4 */

.bg-green{
  
    width: 100%; margin: 0 auto ;
    background-color: #00894d;
  
    height: 1059px;
    display: none;
}

.content-4{

    text-align: center;
    width: 1200px;  /*  ** 부모에게 width값 */
    margin: 0 auto;
}
.top{
    width: 1200px;height: 202px;
    padding: 50px;
    border-bottom: 1px solid #fff3a9 ;
    margin: auto 100px;
  
}
.top>p{}
.top>p>img{
    vertical-align: middle;
    width:120px ; height: 40px;
}
.top>span{
    color:rgb(255, 243, 169);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
    padding-bottom: 50px;
}

.textbox{
    margin: auto 100px;
    width:1200px; height: 150px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-align: left;
    align-items: flex-start;
    padding-top: 30px;
  
   
}
.textbox>div{
    
}
.textbox>div>span{
    line-height: 2;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 243, 169);
}
.textbox>div>p{
    white-space: pre-line;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.textbox>div>b{
    color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: -1px;
}

/* event-1 */
.event{
    width: 1200px;
    position: relative;
    margin: 0 auto;
   
  

  
    
}
.event>span{
    font-weight: 700;
    color: rgb(255, 243, 169);
    padding-left: 100px;
}


.common{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 100px;
}
.common>img{
    width: 50%;
    float: left;
}
.common>img:nth-child(1){
    width: 99px;
    height: 50px;
}
.common>img:nth-child(2){
    width: 450px;
    height: 330px;
}

.special{
    display: flex;
    flex-direction: column;
    float: right;
    position: absolute;
    right: 0;
    top: 13%;
  

}
.special>img{
    width: 50%;

}
.special>img:nth-child(1){
    width: 99px;
    height: 50px;
}
.special>img:nth-child(2){
    width: 630px;
    height: 330px;
}

/* ugly */
.ugly{
    width: 100%;
    padding: 50px;
    text-align: center;
    display: none;
}
.ugly>span{
    font-size: 26px;
    color: rgb(0, 137, 77);
}
.ugly>p{
    color: rgb(0, 137, 77);
    font-size: 20px;
    white-space: pre-line;
}

.ugly>p>img{
    width: 389px;
    height: 50px;
}

.ugly>div{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
   
.ugly>div>div>p{
    text-align: left;
}
.ugly>div>div>p:nth-child(1){
    font-size: 16px;
    color: rgb(255, 89, 46);
    white-space: pre-line;
}
.ugly>div>div>p:nth-child(2){
    font-size: 14px;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    white-space: pre-line;
}
.ugly>div>div>img{
    width: 550px;
    height: 408px;
    padding-left: 50px;
 
}



/* Q&A */


.question{
    margin: 0 auto;
    text-align: center;
    width: 100%;
/*     height: 598px; */
    background-color: #dfdfda;
    padding-bottom: 150px;
    position: relative;
    padding-left: 150px;
    display: none;
}


.question>p{
    color: rgb(154, 156, 157);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    /* padding-bottom: 50px; */
    white-space: pre-line;
   
}
.question>p::before{display: none;}
.question>div{}
.question>div>img{}

.table{
    width: 1100px; height: 553px ;
    margin: 0 auto;
    text-align: left;
    /* display: table-cell; */
    vertical-align:top;
    align-items: center;
   /*  padding-left: 300px; */
    /* border-top: 1px solid #000; */
    display: none;
}

/* 아이콘 버튼 */
.btn-icon{
    display: none;
    position: absolute;
    right: 0%;
}
.btn-icon::after{
   visibility:visible;
}
.btn-icon2{
    position: absolute;
    right: 0%;
}
.btn-icon2::after{
    display: none;
}
.btn-icon >img{
    border: none;
    width: 17px; height: 18px;
   
} 


.btn-icon2>img{
    border: none;
    width: 17px; height: 18px;



}
.btn-icon::before{
 display: none;

}
.btn-icon2::after{
 display: none;

}
.table>caption{
    padding-top: 50px ;
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.table>tbody>tr{}
.table>tbody>tr>td{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 46px;
    position: relative;
   
  
}
.table>tbody>tr>td>p{
    border-top: 1px solid #e5e7eb;
    white-space: pre-line;
    text-align: left;
    display: none; 
}
.table>tbody>tr>td>p.active{
   visibility: visible;
}

/* 하단 이미지 */

.bottom-bg{
   height: 100%;
    width: 100%;
  
}
.bottom-bg>img{width: 100%;}



/* 
====================================================================
============================990=====================================
====================================================================
*/




.visual{width: 100%;}
.visual>p>img{ 
    width: 100%;
    vertical-align: middle; /* 이거 안하면 빈틈생김 */
 }

/* 컨텐츠 1 */

article{width: 100%;}
.content-1{
   /*  width: 100%; */
   
    padding-bottom: 150px;
    background-color: #d1ceb3;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 80px;
   
}
.content-1>div{margin: auto 100px ; }
.content-1 >div>h3{ 
    white-space: pre-line;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    
}
.content-1 >div>h3 >b{
    font-weight: 700;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.content-1>div>p{ 
    padding-top: 30px;
    white-space: pre-line;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    font-size: 16px;
   
}



/* 이미지 박스 [이미지 겹치기] */
.content-1 .imgbox{}
.content-1 .imgbox >div{ 
    width: 333px;
    height: 333px;
    right: 25%;
    top: 10%;
    bottom: 0;
}
.content-1 .imgbox >div:nth-child(1){position: absolute;}
.content-1 .imgbox >div:nth-child(2){position: absolute;}
.content-1 .imgbox >div:nth-child(3){position: absolute;}
.content-1 .imgbox >div:nth-child(4){position: absolute;}
.content-1 .imgbox >div:nth-child(5){position: absolute;}


.content-1 .imgbox >div>img{ 
    padding-right: 30px;
    width: 100%;
}





/* 컨텐츠 2 */

.content-2{
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}
.content-2>div{}
.content-2>div>h3{
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-align: left;
}
   

.content-2>div>p{
    white-space: pre-line;  
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
}



 /* article 1 */
section{}
section .article-1{ width: 1100px;  margin: 0 auto;}
section .article-1 > ul{
    border-top: 1px solid #000;
   
    
}
section .article-1 > ul >li{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .article-1 > ul > li > figure{  width: 40%; }
section .article-1 > ul > li > figure > img{
   
    vertical-align: middle;
    width: 100%;
    
}


section .article-1 > ul > li > div:nth-child(1){ 
    width: 60%; 
    text-align: left; 
    
    
}


section .article-1 > ul > li > div > b{
    font-weight: 700; font-size: 13px ; color: rgb(0, 0, 0); }
section .article-1 > ul > li > div > span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px ; 
    line-height: 1.2;
   
}
section .article-1 > ul > li > div > p{
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: pre-line;
    line-height: 2;
}

.article-1 > ul > li:nth-child(1)> figure{ order: 2 ;}
.article-1 > ul > li:nth-child(1)> figure{ order: 1 ;}

/* article-2 */
.article-2{
    width: 1100px; height: 814px; margin: 100px auto;
    border-top:1px solid #000 ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 

  
}
.text-box{
    width: 50%;
    
}
.text-box>b{font-weight: 700; font-size: 13px ; color: rgb(0, 0, 0); }
.text-box>span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px ; 
    line-height: 1.2;
}
.text-box>p{
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: pre-line;
    padding-top: 30px;
    line-height: 2;
}



.article-2>div{
  padding-top: 80px;
}
.article-2>div:nth-child(1){}
.article-2>div:nth-child(2){
    width: 100%;
    text-align: right;
  
}

.article-2>div>p{}
.article-2>div>p>img{

  vertical-align: middle;
  text-align: right;
  
}

.article-2>div>p:nth-child(1)>img{
    width: 458px;
}
.article-2>div>p:nth-child(2)>img{
    width: 30%;
   
}

/* article-3 */

.article-3{
    width: 1100px; height: 814px; margin: 100px auto;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #000 ;
}
.article-3>div{margin-top: 100px;}
.article-3>div>b{
    font-weight: 700; font-size: 13px ; color: rgb(0, 0, 0); 
}
.article-3>div>span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px ; 
    line-height: 1.2;
}
.article-3>div>p{
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: pre-line;
    padding-top: 30px;
    line-height: 2;
}

.image-box.mySwiper{
    width: 367px;
    height: 483px;
    overflow: hidden;
}
.swiper-wrapper{

    display: flex;

}
.swiper-slide>img:nth-child(1){
    display: block;
    width: 100%;
    vertical-align: middle;
 
}
.swiper-slide>img:nth-child(2){
    display: block;
    width: 100%;
    vertical-align: middle;
 
}
.swiper-pagination{

}




/* content-3 */
.content-3{
    width: 100%;
    margin: 0 auto;
    background-color: #fff3a9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-3>div{white-space: pre-line;}
.content-3>div>span{
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(0, 137, 77);
}
.content-3>div>p>strong{
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 16px;
    text-decoration: underline;
    color: rgb(0, 137, 77);
  
}
.content-3>div>p{
    color: rgb(0, 137, 77);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 16px;
    line-height: 2;
  
}
.content-3>div>p>img{
    width: 100%;
    padding: 30px;
    vertical-align: middle;

}
.content-3>div:nth-child(2)>p{
    width: 550px; height: 753px;
}
.content-3-text {background-color: #fff3a9;}
.content-3-text >p{
    color: rgb(0, 137, 77);
    font-size: 26px;
    text-align: center;
    padding-bottom: 150px;
    font-weight: bold;
}

/* content-4 */

.bg-green{
  
    width: 100%; margin: 0 auto ;
    background-color: #00894d;
  
    height: 1059px;
    display: none;
}

.content-4{

    text-align: center;
    width: 1200px;  /*  ** 부모에게 width값 */
    margin: 0 auto;
}
.top{
    width: 1200px;height: 202px;
    padding: 50px;
    border-bottom: 1px solid #fff3a9 ;
    margin: auto 100px;
  
}
.top>p{}
.top>p>img{
    vertical-align: middle;
    width:120px ; height: 40px;
}
.top>span{
    color:rgb(255, 243, 169);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
    padding-bottom: 50px;
}

.textbox{
    margin: auto 100px;
    width:1200px; height: 150px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-align: left;
    align-items: flex-start;
    padding-top: 30px;
  
   
}
.textbox>div{
    
}
.textbox>div>span{
    line-height: 2;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 243, 169);
}
.textbox>div>p{
    white-space: pre-line;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.textbox>div>b{
    color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: -1px;
}

/* event-1 */
.event{
    width: 1200px;
    position: relative;
    margin: 0 auto;
   
  

  
    
}
.event>span{
    font-weight: 700;
    color: rgb(255, 243, 169);
    padding-left: 100px;
}


.common{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 100px;
}
.common>img{
    width: 50%;
    float: left;
}
.common>img:nth-child(1){
    width: 99px;
    height: 50px;
}
.common>img:nth-child(2){
    width: 450px;
    height: 330px;
}

.special{
    display: flex;
    flex-direction: column;
    float: right;
    position: absolute;
    right: 0;
    top: 13%;
  

}
.special>img{
    width: 50%;

}
.special>img:nth-child(1){
    width: 99px;
    height: 50px;
}
.special>img:nth-child(2){
    width: 630px;
    height: 330px;
}

/* ugly */
.ugly{
    width: 100%;
    padding: 50px;
    text-align: center;
    display: none;
}
.ugly>span{
    font-size: 26px;
    color: rgb(0, 137, 77);
}
.ugly>p{
    color: rgb(0, 137, 77);
    font-size: 20px;
    white-space: pre-line;
}

.ugly>p>img{
    width: 389px;
    height: 50px;
}

.ugly>div{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
   
.ugly>div>div>p{
    text-align: left;
}
.ugly>div>div>p:nth-child(1){
    font-size: 16px;
    color: rgb(255, 89, 46);
    white-space: pre-line;
}
.ugly>div>div>p:nth-child(2){
    font-size: 14px;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    white-space: pre-line;
}
.ugly>div>div>img{
    width: 550px;
    height: 408px;
    padding-left: 50px;
 
}



/* Q&A */


.question{
    margin: 0 auto;
    text-align: center;
    width: 100%;
/*     height: 598px; */
    background-color: #dfdfda;
    padding-bottom: 150px;
    position: relative;
    padding-left: 150px;
    display: none;
}


.question>p{
    color: rgb(154, 156, 157);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    /* padding-bottom: 50px; */
    white-space: pre-line;
   
}
.question>p::before{display: none;}
.question>div{}
.question>div>img{}

.table{
    width: 1100px; height: 553px ;
    margin: 0 auto;
    text-align: left;
    /* display: table-cell; */
    vertical-align:top;
    align-items: center;
   /*  padding-left: 300px; */
    /* border-top: 1px solid #000; */
    display: none;
}

/* 아이콘 버튼 */
.btn-icon{
    display: none;
    position: absolute;
    right: 0%;
}
.btn-icon::after{
   visibility:visible;
}
.btn-icon2{
    position: absolute;
    right: 0%;
}
.btn-icon2::after{
    display: none;
}
.btn-icon >img{
    border: none;
    width: 17px; height: 18px;
   
} 


.btn-icon2>img{
    border: none;
    width: 17px; height: 18px;



}
.btn-icon::before{
 display: none;

}
.btn-icon2::after{
 display: none;

}
.table>caption{
    padding-top: 50px ;
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.table>tbody>tr{}
.table>tbody>tr>td{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 46px;
    position: relative;
   
  
}
.table>tbody>tr>td>p{
    border-top: 1px solid #e5e7eb;
    white-space: pre-line;
    text-align: left;
    display: none; 
}
.table>tbody>tr>td>p.active{
   visibility: visible;
}

/* 하단 이미지 */

.bottom-bg{
   height: 100%;
    width: 100%;
  
}
.bottom-bg>img{width: 100%;}

