@charset "utf-8";
@import url(./common.css);

main{margin: 0 auto;}
.main-img{
    width: 100%;
    background-color: black;
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
}
.main-img p img{ width: 100%;}


/* .scroll>h3,
.scroll>div>h3,
.scroll>div>span,
.scroll>span
{
    opacity: 0;
    transition: 1s;
    transform: translateY(50%);
}

.scroll.active >h3,
.scroll.active >div>h3,
.scroll.active >span,
.scroll.active >div>span
{
    opacity: 1;
    transform: translateY(0%);
} */



.scrolltwo{
    opacity: 0;
    transition: 1s;
    transform: translateY(50%);
}



.scrolltwo.active{
    opacity: 1;
    transform: translateY(0%);
}

.collabo-1{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    background-size: cover;
   
    display: flex;
    justify-content: space-between;

}
.collabo-1>h3{
    font-weight: 700;
    letter-spacing: -0.5px;
    color: rgb(245, 245, 245);
    font-size: 24px;
    line-height: 1.5;
    padding-left: 200px;
    
}

.collabo-1-flex{
    
    padding-top: 50px;
    


    /* padding-left: -500px; */
}
.collabo-1-flex>div{}
.collabo-1-flex>div:nth-child(1){
    border-top: 1px solid #fff;
    padding-top: 40px;
    line-height: 1.5;
}
.collabo-1-flex>div:nth-child(2){
   padding-top: 40px;
   width: 100%; height: auto;
   overflow: hidden ;/* 이미지가 화면넘어가도 보임 */
   padding-bottom: 150px;
}

.collabo-1-flex>div>span{
    color: rgb(245, 245, 245);
    white-space: pre-line;
   
}
.collabo-1-flex>div>strong{
   
    font-weight: 700;
    font-size: 16px;
    color: rgb(245, 245, 245);
}

.collabo-1-flex>div>img{

    width: 100%; height: auto;
    overflow: hidden ;
}
.collabo-2{

    width: 100%;
    margin: 0 auto;
    background-color: black;
    background-size: cover;
   
    display: flex;
    justify-content: space-between;
}
.collabo-2>h3{
    font-weight: 700;
    letter-spacing: -0.5px;
    color: rgb(245, 245, 245);
    font-size: 24px;
    line-height: 1.5;
    padding-left: 200px;
}


.collabo-2-flex{
    padding: 150px 0;
}

.collabo-2-flex>span{
    font-size: 16px;
    color: rgb(245, 245, 245);
    font-weight: 500;
    letter-spacing: -0.5px;
    white-space: pre;
}

.collabo-2-flex>div:nth-child(1){
    border-top: 1px solid #fff;
    padding-top: 40px;
    line-height: 1.5;
}
.collabo-2-flex>div:nth-child(2){
    padding: 100px 0 ;
    /* 유툽 영상 */
}

.collabo-2-flex>div>span{    
    color: rgb(245, 245, 245);
    white-space: pre-line;
}

.collabo-2-flex>div>strong{
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
    white-space: pre-line;
}


.collabo-3{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    background-size: cover;
    padding-top: 300px;
    display: flex;
    justify-content: space-between;
    

}
.collabo-3>h3{
    font-weight: 700;
    letter-spacing: -0.5px;
    color: black;;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 200px;
}

.collabo-3>div{}

.collabo-3-row{
    padding-bottom: 150px;
}
.collabo-3-row>ul{
    display: flex;
    justify-content: center;
   
}
.collabo-3-row>ul>li{
    padding: 5px;
}
.collabo-3-row>ul>li>img{
    width: 298px; height: 420px;
}
.collabo-3-row>ul>li:nth-child(1)>img{}
.collabo-3-row>ul>li:nth-child(2)>img{}
.collabo-3-row>ul>li:nth-child(3)>img{}


.collabo-3-row>span{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5;
    white-space: pre-line;
}

.collabo-4{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    background-size: cover;
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 300px;
   
}
.collabo-4>div>h3{
    font-weight: 700;
    letter-spacing: -0.5px;
    color: rgb(245, 245, 245);
    font-size: 24px;
    line-height: 1.5;
    padding-left: 200px;

}
.collabo-4-flex{
    padding-top: 50px;
}
.collabo-4-flex .text{
    border-top:1px solid rgb(245, 245, 245);
    padding: 50px;
}

.text>span{
    text-align: left;
    
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5;
    color: rgb(245, 245, 245);
}
.collabo-4-flex .text>span>strong{
    color: rgb(245, 245, 245);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 16px;
}
.collabo-4-flex>ul{
    display: flex;
}
.collabo-4-flex>ul>li{}
.collabo-4-flex>ul>li>img{width: 100%;}
/* .collabo-4-flex>ul>li:nth-child(1)>img{}
.collabo-4-flex>ul>li:nth-child(2)>img{} */


.collabo-4-flex>ul>li>p{
    padding-left: 100px;
}

.collabo-4-flex>ul>li>p>span{
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(165, 165, 165);
    font-size: 14px;
}
.collabo-4-flex>ul>li>p>span>strong{
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(165, 165, 165);
}

.collabo-4-flex>ul>li>p>strong{
    font-size: 14px;     
    color: rgb(165, 165, 165);
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.bottom{
    width: 100%;
    margin:  0 auto ;
    background-color: black;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 250px;
    align-items: center;
    text-align: center;

   
}
.bottom>div:nth-child(1){
   text-align: center;
}


.bottom-top{
    text-align: center;
}
.bottom-top>strong{
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 24px;
    line-height: 1.2;
    color: rgb(245, 245, 245);
}
.bottom-top>span{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(245, 245, 245);
    line-height: 1.5;
}
.bottom-img{
   
    text-align: center;
    width: 1200px;
    padding-top: 70px;
    display: flex;
/*     justify-content: center;/// */
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 50px;
   
   
}

.swiper-wrapper >div{ padding: 0 10px;  width: 30%; }

   


.swiper-slide >img {
    display: block;
    width: 100%;
    min-height: 413px;
    object-fit: cover;
   /*  margin: 15px 15px; */
    
    
    
}



.bottom>div>span{
    text-align: left;
    color: rgb(78, 85, 88);
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 16px;

}
/* 슬라이드 드래그 */

.bottom-img {
    width: 60%; 
    position: relative;
    display: flex;
    flex-wrap: nowrap;
/*     animation: bannermove 25s linear infinite; */
}  
/* @keyframes bannermove {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  } */


    
