@charset "utf-8";
@import url(./common.css);

main{    margin: 0 auto;}




.sub-link{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    align-content: center;
 
    width: 100%; height: 50px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
}
.sub-link>li{
    padding: 10px 35px;

}
.sub-link>li>a{
    display: inline-block;

}
.sub-link>li>span>a:hover{
    color: #fff;
    background-color: #1ecad3;
}

.sub-link>li>span{
    font-weight: 500;
    color: #55585b;
    font-size: 14px;
}
/* 비디오 텍스트 */
.video{
    position: relative;
    width: 100%;
}
.video_texts{
    position: absolute;
    width: 100%; height: 100%;
    top: 50%; left: 0;
    text-align: center;

 
}

.video_texts>span{
   
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.video_texts>strong{
  
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}


.main-text{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 60px 0;
}
.main-text>span{
    font-weight: 500;
    font-size: 22px;
    color: #3d464b;
    padding: 50px 0;
    white-space: pre;


}

.program{
    width: 1200px; 
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}
.program>div{
  
    padding: 30px 0;
    white-space: pre-line;
    
}
.program>h3{
    position: relative;
}
.program>h3::after{
    width:100%;
    height:1px;
    background-color: #1ecad3;
    content:'';
    position:absolute;
    left:0; top:50%;
    z-index: -1;
}
.program>h3>strong{
    background-color: #fff;
    padding:0 30px;
    font-size: 29px;
    color: #1ecad3;
    font-weight: bold;
}
.program>div>p{
    font-size: 16px;
    font-weight: 500;
}

.program >ul{
    display: flex;
}

.program >ul >li {width:50%; padding: 25px;}
.program >ul >li>img {width: 100%;}

/* .program >ul >li:nth-child(1)>img {width: 100%;}
.program >ul >li:nth-child(2)>img {width: 100%;}
 */
.program >ul >li>p{
    padding-top: 20px;
    font-size: 16px;
    color: #55585b;
    font-weight: 500;
}

.program .program-btn{
 
   

}
.program-btn>a{
    background-color: #1ecad3;
    padding:  10px 50px;
    color: #fff;
    font-size: 14px;
}

.info{
    width: 100%;
    color: #333;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 100px;
    text-align: left;
    background-color: #f4f4f4;
    background-size: cover;
   
   
}
.info>h3{
    padding-left: 11%;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    white-space: pre-line;
}
.info>div{
    
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.info-1{
    width: 30%;
    
    white-space: pre-line;
}
.info-1>strong{
    font-weight: 700;
    font-size: 18px;
    
}
.info-1>p{font-size: 14px;}

.info-1>div{
    border-top: 3px solid #000;
}
.info-1>div>strong{
    font-weight: 700;
    font-size: 26px;
}   
.info-1>div>span{
    font-weight: 500;
    font-size: 16px;
}  


.info-2{
    width: 30%;
  
    white-space: pre-line;
}
.info-2>div:nth-of-type(1){ border-top: 3px solid #000;}
.info-2>strong{
    font-weight: 700;
    font-size: 18px;
    
}
.info-2>p{font-size: 14px;}
.info-2>div>strong{
    font-weight: 700;
    font-size: 18px;
    
}
.info-2>div>span{
    font-weight: 700;
    font-size: 14px;
    color: rgb(30, 202, 211);;
}
.info-2>div>p{font-size: 14px;}


.info-3{
    width: 30%;
    white-space: pre-line;
}
.info-3>div:nth-of-type(1){ 
    border-top: 3px solid #000;
    display: flex;
    justify-content: flex-start;
    padding: 10px ;
    text-align: left;

}

.info-3-img{
    
    padding-left: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.info-3-img >p{ padding: 0 15px;}
.info-3-img >p>img{width: 100%;}
    




.info-3>div>strong{
    font-weight: 700;
    font-size: 18px;
}

.info-3>strong{
    font-weight: 700;
    font-size: 18px;
    
}
.info-3>p{font-size: 14px;  font-weight: 500}
