@charset "utf-8";
@import url(../css/common.css);


main{background-color: none; color: #fff; }

span{font-weight: bolder;}


.visual-video>video{
    position: relative;
    width: 100%;
    display: flex;
    vertical-align: middle; /* 인라인 요소라서 해줘야 빈틈이 안생김 */
}

/* 버튼 */
.side-btn{ 
    background-color: none;
    position: fixed;
    top: 80%;
    right: 3%;
    bottom: 0;
}
.side-btn>p{    

}
.side-btn>p>img{ width: 60px; height: 60px;}




/* 제주 라거소개 */
/* 배경 사이즈 깨지지않게 cover처리 */
.lager{
 
    background-image: url('../img/main/body/375dc88d2890e.png')  ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 50px;
    position: center;
  
   
  
}

.lager  > p{text-align: center; }

.lager > p > img{
    width: 186px;
    height: 173px;
}
.lager-flex{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto 0 ;
    padding-bottom: 50px;
}
.lager-flex > b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 18px;
    color: #fff;

}
.lager-flex > b>span{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    
}
.lager-flex >p> img{ width: 187px; height: 250px;}


/* 위트 에일 소개*/
.wit{
    background-image: url(../img/main/body/86ac866da3a0d.png);
    background-repeat: no-repeat; 
    background-size: cover ;
    background-position: 50% 50%;
    padding-top: 50px;
    
   
}
.wit > p{ text-align: center;}

.wit > p> img{width: 339px; height: 91px;}

.wit-flex{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto 0 ;
    padding-bottom: 50px;
}
.wit-flex >b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 18px;
    color: #fff;
}
.wit-flex > p >img{
    width: 187px; height: 250px;

}
.wit-flex>b>span{
    font-size: 18px;
    color: #fff;
}

/*펠롱웨일 소개 */
.pellong{
    background-image: url('../img/main/body/375dc88d2890e.png')  ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: center;
    padding-top: 50px;
   
}
.pellong>p{ text-align: center;}

.pellong >p> img{
    width: 323px;
    height: 86px;
}
.pellong-flex{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto 0 ;
    padding-bottom: 50px;
}
.pellong-flex >b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 18px;
    color: #fff;
}
.pellong-flex >b >span{
    font-size: 18px;
    color: #fff;
}
.pellong-flex>p>img{
    width: 187px; height: 250px;
}

/* 제주 거멍 에일 소개*/
.geo{
    background-image: url(../img/main/body/0d89208feb8c5.png);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 50% 50%;
    position: center;
    padding-top: 50px;
   
}
.geo>p{ text-align: center;}
.geo > p> img{
    width: 310px; height: 84px;
}
.geo-flex{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto 0 ;
    padding-bottom: 50px;
}
.geo-flex>b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 18px;
    color: #fff;
}
.geo-flex>b>span{
    font-size: 18px;
    color: #fff;
}
.geo-flex>p>img{
    width: 200px; height: 267px;
}



/* 제주맥주 텍스트, 이미지박스 슬라이드 */
.bottom-text{
    background-color: #fff;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px auto;

}
.bottom-text >div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 83%;
    margin: 0 auto;
}
.bottom-text > p{
    text-align: center;
    padding-bottom: 50px;
    font-size: 20px;
    color: #1ecad3;
}    
.bottom-text p span{
    color: #1ecad3;
    font-size: 20px;
}
.img-box {
    width: 83%;
    margin: 15px 15px;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 25s linear infinite;
}  
@keyframes bannermove {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }
.img-box > div  {

}
.img-box > div >img {
    width: 155px;
    height: 59px;
    margin: 15px 15px;
}




/* 
====================================================================
============================480=====================================
====================================================================
*/

@media (max-width:998px) {
    
body{ max-width:998px}

.visual-video{overflow: hidden;}
.visual-video>video{
   
    width: auto; height: 100vh;
    /* transform: translateX(calc(-50% + 50vw)); -50% : 영상 , 50vw:디바이스*/
    transform: translateX(calc(-50% + 50vw));
    /* display: flex;  */
    
    display: inline-block;
    
    
    
    
}

/* 버튼 */
.side-btn{ 
    background-color: none;
    position: fixed;
    top: 70%;
    right: 0%;
    bottom: 0;
    left: 80%;
    z-index: 999999; /* 위로 끌어올려주기 */
}
.side-btn>p{    

}
.side-btn>p>img{ width: 60px; height: 60px;}




/* 제주 라거소개 */
/* 배경 사이즈 깨지지않게 cover처리 */
.lager{
 
    background-image: url('../img/main/body/375dc88d2890e.png')  ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 50px;
    position: center;
  
   
  
}

.lager  > p{text-align: center; }

.lager > p > img{
    width: 186px;
    height: 173px;
}
.lager-flex{
  /*   display: flex;
    justify-content: center;
    align-items: center ; */

    display: block;
    flex-direction: column;
    text-align: center;
   
  /*   margin: auto 0 ;
    padding-bottom: 50px; */
}
.lager-flex > b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 16px;
    color: #fff;
    text-align: center;

}
.lager-flex > b>span{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    display: block;
    
}
.lager-flex >p> img{ width: 187px; height: 250px;}


/* 위트 에일 소개*/
.wit{
    background-image: url(../img/main/body/86ac866da3a0d.png);
    background-repeat: no-repeat; 
    background-size: cover ;
    background-position: 50% 50%;
    padding-top: 50px;
    
   
}
.wit > p{ text-align: center;}

.wit > p> img{width: 339px; height: 91px;}

.wit-flex{
    display: flex;
    justify-content: center;
    align-items: center ;

    flex-direction: column;

    margin: auto 0 ;
    padding-bottom: 50px;
}
.wit-flex >b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.wit-flex > p >img{
    width: 187px; height: 250px;

}
.wit-flex>b>span{
    font-size: 16px;
    color: #fff;
    display: block;
}

/*펠롱웨일 소개 */
.pellong{
    background-image: url('../img/main/body/375dc88d2890e.png')  ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: center;
    padding-top: 50px;
   
}
.pellong>p{ text-align: center;}

.pellong >p> img{
    width: 323px;
    height: 86px;
}
.pellong-flex{
   /*  display: flex;
    justify-content: center;
    align-items: center ; */
    margin: auto 0 ;
    padding-bottom: 50px;
    flex-direction: column;
    text-align: center;
}
.pellong-flex >b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.pellong-flex >b >span{
    font-size: 16px;
    color: #fff;
    display: block;
}
.pellong-flex>p>img{
    width: 187px; height: 250px;
}

/* 제주 거멍 에일 소개*/
.geo{
    background-image: url(../img/main/body/0d89208feb8c5.png);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 50% 50%;
    position: center;
    padding-top: 50px;
   
}
.geo>p{ text-align: center;}
.geo > p> img{
    width: 310px; height: 84px;
}
.geo-flex{
  /*   display: flex;
    justify-content: center;
    align-items: center ; */
    margin: auto 0 ;
    padding-bottom: 50px;
    flex-direction: column;
    text-align: center;
}
.geo-flex>b{
    white-space: pre-line;
    padding-left:20px ;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.geo-flex>b>span{
    font-size: 16px;
    color: #fff;
    display: block;
}
.geo-flex>p>img{
    width: 200px; height: 267px;
}



/* 제주맥주 텍스트, 이미지박스 슬라이드 */
.bottom-text{
    background-color: #fff;
    width: 100%;
/*     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    display: inline-block;
    margin: 10% auto;

}
.bottom-text >div{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 83%;
    margin: 0 auto;
}


.bottom-text > p{
    display: block;
    font-size: 16px;
   
}    
.bottom-text p span{
    color: #1ecad3;
    font-size: 16px;
 
}
.img-box { /* 가로정렬 */
    width: 100%; height: 100%;
    margin: 18px 18px;
    /* display: flex; */
    animation: bannermove 3s linear infinite;
   
 
   
}  

.img-box > div  {
    padding: -5%;
}
.img-box > div >img {
    width: 155px;
    height: 59px;
    margin: 15px 15px;
}


}